<div class="col-md-12 bodyContentArea">
    <div class="table-responsive">
       
        <!-- START TABLE -->
            <input type="search" ng-model="campaignsearch" placeholder="Search...">
             <table class="table table-hover table-condensed table-striped">
                <thead class="levelOne">
                    <tr>
                        <th>#</th>
                        <th>Offer Group Id</th>
                        <th>Offer Group Desc</th>
                    </tr>
                </thead>
                <tbody data-ng-repeat="offer in offergrouplist  | filter:campaignsearch" data-ng-switch on="dayDataCollapse[$index]">
                    <tr class="clickableRow">
                        <td data-ng-click="selectTableRow($index, offer.offergroupId)" class="listSerial">
                            <i id="icon_{{offer.offergroupId}}" ng-class="iconClasses.expand" class="listSerialicon ng-scope glyphicon glyphicon-plus-sign"></i>
                        </td>
                        <td class="listOffergroupId">{{offer.offergroupId}}</td>
                        <td>{{offer.offergroupDesc}}</td>
                    </tr>
                    <tr data-ng-switch-when="true">
                        <td colspan="4">
                            <ul class="nav nav-tabs tabTitle" role="tablist">
                                <li role="presentation" class="active"><a showtab="" href="#offers" role="tab" data-toggle="tab">Offers</a></li>
                                <li role="presentation"><a showtab="" href="#campaigns" role="tab" data-toggle="tab">Campaigns</a></li>
                            </ul>

                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="offers">
                              <table class="table table-hover table-condensed">
                                <thead class="levelTwo">
                                    <tr>
                                        <th>#</th>
                                        <th>Offer Id</th>
                                        <th>Offer Desc</th>
                                        <th>Offer Desc Code</th>
                                        <th>Display Order</th>
                                        <th>Is Item Selected</th>
                                        <th>Is Bonus Bundled</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="offerData in offergrouplist[$index].Offers">
                                        <td>{{$index+1}}</td>
                                        <td>{{offerData.offerId}}</td>
                                        <td>{{offerData.offerDesc}}</td>
                                        <td>{{offerData.offerDescCode}}</td>
                                        <td>{{offerData.displayOrder}}</td>
                                        <td>
                                            <span ng-if="offerData.itemSelected=='Y'">Yes</span>
							                <span ng-if="offerData.itemSelected=='N'">No</span>
                                        </td>
                                        <td>{{offerData.isBonusBundled}}</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="campaigns">
                              <table class="table table-hover table-condensed">
                                <thead class="levelTwo">
                                    <tr>
                                        <th>#</th>
                                        <th>Project</th>
                                        <th>Campaign Id</th>
                                        <th>Campaign Desc</th>
                                        <th>Campaign Credit Rule</th>
                                        <th>Campaign Short Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="campaignData in offergrouplist[$index].campaigns">
                                        <td>{{$index+1}}</td>
                                        <td class="listOffergroupId">{{campaignData.Project}}</td>
                                        <td>{{campaignData.campaignId}}</td>
                                        <td>{{campaignData.campaignDesc}}</td>
                                        <td>{{campaign.CampaignCreditRule}}</td>
                                        <td>{{campaign.CampaignShortNotes}}</td>
                                    </tr>
                                </tbody>
</table>
                            </div>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
       
    </div>
</div>