<div class="col-md-10 col-md-offset-1 formBox">
        <form class="form-inline">
            <div class="form-group">    
                <select ng-model="searchProject" class="form-control" ng-change="getDropdownVal(searchProject)">
					  <option value="">Project</option>
					  <option ng-repeat="project in allProjects" value="{{project.ProjectCode}}">
						  {{project.ProjectCode}}
					  </option>
				</select>
            </div>
            <div class="form-group">
                <input ng-model="searchOfferId" class="form-control" placeholder="Offer Id">
            </div>
        </form>
</div>

<div class="clear"></div> 
<div class="col-md-12"><div ng-show="loading" class="loading"><img src="../images/loading.gif">LOADING...</div></div>
<div class="clear"></div>

<div class="col-md-12 bodyContentArea">
    <div class="table-responsive">
       
        <table class="table table-bordered" style="border-collapse:collapse;">
				<thead>
					<tr>
						<th width="5%">&nbsp;</th>
						<th width="10%">OfferGroup Id</th>
						<th width="10%">Offer Id</th>     
						<th width="10%">Group Desc</th>
						<th width="10%">Offer Desc</th>                    
						<th width="10%">Display Order</th> 
						<th width="10%">Selected Item</th>
						<th width="10%">Bonus Bundled</th>
						<th width="10%">Cart</th>
						<th width="10%">Base Offer</th>
						<th width="5%">Use</th>
					</tr>
				</thead>

				<tbody>
	
					<tr ng-repeat="result in results | filter: searchProject | filter: searchOfferId | pagination: curPage * pageSize | limitTo: pageSize">
					<td colspan="11" width="100%">
					<table class="table table-striped table-hover font14" style="border-collapse:collapse;">
					<tr data-toggle="collapse" data-target="#demo{{$index}}" class="accordion-toggle">
						<td width="5%"><button class="btn btn-xs" ng-click="getCampaignData(result.OfferGroupId);"><span class="glyphicon glyphicon-triangle-right"></span></button></td>

						<td width="10%">{{result.OfferGroupId}}</td>
						<td width="10%">{{result.OfferId}}</td>
						<td width="10%">{{result.GroupDescription}}</td>
						<td width="10%">{{result.OffersDescription}}</td> 
						<td width="10%">{{result.DisplayOrder}}</td>
						<td width="10%">{{result.ItemSelected}}</td>
						<td width="10%">{{result.IsBonusBundled}}</td>
						<td width="10%">{{result.DisplayInCart}}</td>
						<td width="10%">{{result.IsBaseOffer}}</td>
						<td width="5%">{{result.InUse}}</td>
					</tr>
					<tr>
						<td colspan="12" class="hiddenRow">
						<div class="accordian-body collapse" id="demo{{$index}}"> 
						  <table class="table table-striped table-hover font14" ng-if="allCampaigns.length > 0">
							<tr>
								<td>CampaignId</td>
								<td>CampaingDesc</td>
								<td>CampaignTAC</td>
							</tr>
							<tr ng-repeat="campaign in allCampaigns" >
								<td>{{campaign.CampaignId}}</td>
								<td>{{campaign.CampaingDesc}}</td>
								<td>{{campaign.CampaignTAC}}</td>
							</tr>
						 </table>
						</div> 
						</td>
					</tr>
					</table>
					</td>
					</tr>
				</tbody>
				</table>
            
        <div class="pagination-div" ng-show="results.length" id="divPaginate">
            <ul>
                <li><button type="button" class="btn" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">PREV</button></li>
                <li><span>{{curPage + 1}} of {{ numberOfPages() }}</span></li>
                <li><button type="button" class="btn" ng-disabled="curPage == numberOfPages()-1" ng-click="curPage = curPage+1">NEXT</button></li>
                <li>
                    <select ng-model="pageSize" ng-change="pageSize" class="btn btn-default">
                        <option value='5' selected>5</option>
                        <option value='10'>10</option>
                        <option value='15'>15</option>
                        <option value='20'>20</option>
                        <option value='50'>50</option>
                        <option value='100'>100</option>
                    </select>
                </li>
            </ul>
        </div>
        
    </div>
</div>