<div> 
        <div class="col-md-12">
			<h4 class="fl">Campaigns</h4>
			<h5 class="fr"><a href="#/insertcampaigns" class="btn btn-primary  btn-sm">ADD Campaigns</a></h5>
        </div>
     
           
      <div class="clear"></div>  
      <div ng-show="loading" class="loading"><img src="../images/loading.gif">LOADING...</div>

      <div class="clear"></div>      
	<div class="panel panel-default">
            <div class="panel-heading">
				<div style="padding-left:20px;">
					<label style="width:10%;">Offer Description :</label><input type="text" ng-model="searchCampaignDesc">
				</div>
				<div style="padding-left:20px;padding-top:20px;">
					<label style="width:10%;">Project :</label>
					<select ng-model="searchProject">
						  <option value="">All</option>
						  <option ng-repeat="project in allProjects" value="{{project.ProjectCode}}">
							  {{project.ProjectName}}
						  </option>
					</select>
					<label style="width:7%;">Credit Rule :</label>
					<select ng-model="searchCreditRule">
						  <option value="">All</option>
						  <option ng-repeat="credit in allCreditrules" value="{{credit.RuleId}}">
							  {{credit.RuleId}}
						  </option>
					</select>
					<label style="width:7%;">Page type :</label>
					<select ng-model="searchPageType">
						<option value="">All</option>
						<option value="N">Horizontal</option>
						<option value="Y">Maxchoice</option>
					</select>
				</div>
			</div>
            <div class="panel-body">
				<table class="table table-striped table-hover font14" style="border-collapse:collapse;width:100%;">
				<thead>
					<tr>
						<th width="5%">&nbsp;</th>
						<th width="10%">Campaign Id</th>
						<th width="25%">Campaign Desc</th>
						<th width="15%">Credit Rule</th>     			
						<th width="20%">ShortNotes</th>
						<th width="15%">Project</th>
						<th width="10%">Page Type</th>
					</tr>
				</thead>

				<tbody>
	

					<!--<tr ng-repeat="result in results | filter: searchCampaignDesc | filter: searchProject | filter: searchCreditRule | filter: searchPageType">-->
					<tr ng-repeat="result in results | filter: { CampaignShortNotes: searchCampaignDesc,Project: searchProject, CampaignCreditRule: searchCreditRule, IsClubShopOffer: searchPageType }">
					<td colspan="7" width="100%">
					<table class="table table-striped table-hover font14" style="border-collapse:collapse; width:100%;">
					<tr data-toggle="collapse" data-target="#demo{{$index}}" class="accordion-toggle">
						<td width="5%"><button class="btn btn-xs" ng-click="getPageData(result.CampaignId);"><span class="glyphicon glyphicon-triangle-right"></span></button></td>
						<td width="10%">{{result.CampaignId}}</td>
						<td width="25%">{{result.CampaingDesc}}</td>
						<td width="15%">{{result.CampaignCreditRule}}</td>
						<td width="20%">{{result.CampaignShortNotes}}</td> 
						<td width="15%">{{result.Project}}</td>
						<td width="10%">
							<span ng-if="result.IsClubShopOffer=='N'">Horizontal</span>
							<span ng-if="result.IsClubShopOffer=='Y'">Maxchoice</span>
						</td>

					</tr>
					<tr>
						<td colspan="7" class="hiddenRow">
						<div class="accordian-body collapse" id="demo{{$index}}"> 
						  <table class="table table-striped table-hover font14" ng-if="allPageIds.length > 0" style="width:100%;">
							<tr>
								<td width="25%">Page Id</td>
								<td width="25%">Page Name</td>
								<td width="25%">Page Desc</td>
								<td width="25%">Action</td>
							</tr>						
							  <tr ng-repeat="allPage in allPageIds">
								<td>{{allPage.PageId}}</td>
								<td>{{allPage.PageName}}</td>
								<td>{{allPage.PageDesc}}</td>
								<td>&nbsp;</td>
							</tr>
						 </table>
						<!--<div class="pagination-div" ng-show="allPageIds.length" id="divPaginate">
							<ul>
								<li><button type="button" class="btn" ng-disabled="curPage_sub == 0" ng-click="curPage_sub=curPage_sub-1">PREV</button></li>
								<li><span>{{curPage_sub + 1}} of {{ numberOfPages_sub() }}</span></li>
								<li><button type="button" class="btn" ng-disabled="curPage_sub==numberOfPages_sub()-1" ng-click="curPage_sub = curPage_sub+1">NEXT</button></li>
								<li>
									<select ng-model="pageSize_sub" ng-change="pageSize_sub" class="btn btn-default">
										<option value="2">2</option>
										<option value="5">5</option>
										<option value="10">10</option>
										<option value="15">15</option>
										<option value="20">20</option>
									</select>
								</li>
							</ul>
						</div>-->
						</div> 
						</td>
					</tr>
					</table>
					</td>
					</tr>
				</tbody>
				</table>
            </div>
          </div> 
    
      <!--<div class="pagination-div" ng-show="results.length" id="divPaginate">
            <ul>
                <li><button type="button" class="btn" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">PREV</button></li>
                <li><span>{{curPage + 1}} of {{ numberOfPages() }}</span></li>
                <li><button type="button" class="btn" ng-disabled="curPage==numberOfPages()-1" ng-click="curPage = curPage+1">NEXT</button></li>
                <li>
                    <select ng-model="pageSize" ng-change="pageSize" class="btn btn-default">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </li>
            </ul>      
        </div>-->
</div>