<div> 
        <div class="col-md-12">
            <h4 class="fl">List of Campaigns</h4>
        </div>
           
      <div class="clear"></div>  
      <div ng-show="loading" class="loading"><img src="../images/loading.gif">LOADING...</div>
      <div class="clear"></div>
      
      
      <!--<accordion close-others="oneAtATime">
            <accordion-group heading="{{result.CampaignId}} | {{result.CampaingDesc}}" ng-repeat="result in results | pagination: curPage * pageSize | limitTo: pageSize" ng-click="getPageData(result.CampaignId);">
                <h4>Page Details</h4>
                <table class="table" ng-if="allPageIds.length > 0">
                    <tr>
                        <td>Id</td>
                        <td>Page Name</td>
                        <td>Page Desc</td>
                        <td>Action</td>
                    </tr>
                    <tr ng-repeat="allPage in allPageIds | pagination: curPage_sub * pageSize_sub | limitTo: pageSize_sub" >
                        <td>{{allPage.PageId}}</td>
                        <td>{{allPage.PageName}}</td>
                        <td>
                            <span ng-hide="editMode">{{allPage.PageDesc}}</span>
                        </td>
                    </tr>
                </table>
                <div class="pagination-div" ng-show="allPageIds.length" id="divPaginate">
                    <ul>
                        <li><button type="button" class="btn" ng-disabled="curPage_sub == 0" ng-click="curPage_sub=curPage_sub-1">PREV</button></li>
                        <li><span>{{curPage_sub + 1}} of {{ numberOfPages_sub() }}</span></li>
                        <li><button type="button" class="btn" ng-disabled="curPage_sub==numberOfPages_sub()-1" ng-click="curPage_sub = curPage_sub+1">NEXT</button></li>
                        <li>
                            <select ng-model="pageSize_sub" ng-change="pageSize_sub" class="btn btn-default">
                                <option value="2">2</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </accordion-group>
      </accordion>-->
	<div class="panel panel-default">
            <div class="panel-heading"><h3>Campaigns</h3></div>
            <div class="panel-body">
				<table class="table table-striped table-hover font14" style="border-collapse:collapse;">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Campaign Id</th>
						<th>Credit Rule</th>     
						<th>Campaign Desc</th>
						<th>ShortNotes</th>                    
					</tr>
				</thead>

				<tbody>
	
					<tr ng-repeat="result in results | filter: searchProject | filter: searchOfferId | pagination: curPage * pageSize | limitTo: pageSize">
					<td colspan="5" width="100%">
					<table class="table table-striped table-hover font14" style="border-collapse:collapse;">
					<tr data-toggle="collapse" data-target="#demo{{$index}}" class="accordion-toggle">
						<td><button class="btn btn-default btn-xs" ng-click="getPageData(result.CampaignId);"><span class="glyphicon glyphicon-eye-open"></span></button></td>
						<td>{{result.CampaignId}}</td>
						<td>{{result.CampaignCreditRule}}</td>
						<td>{{result.CampaingDesc}}</td>
						<td>{{result.CampaignShortNotes}}</td> 
					</tr>
					<tr>
						<td colspan="5" class="hiddenRow">
						<div class="accordian-body collapse" id="demo{{$index}}"> 
						  <table class="table table-striped table-hover font14" ng-if="allPageIds.length > 0">
							<tr>
								<td>Page Id</td>
								<td>Page Name</td>
								<td>Page Desc</td>
								<td>Action</td>
							</tr>
							<tr ng-repeat="allPage in allPageIds | pagination: curPage_sub * pageSize_sub | limitTo: pageSize_sub" >
								<td>{{allPage.PageId}}</td>
								<td>{{allPage.PageName}}</td>
								<td>{{allPage.PageDesc}}</td>
								<td>&nbsp;</td>
							</tr>
						 </table>
						<div class="pagination-div" ng-show="allPageIds.length" id="divPaginate">
							<ul>
								<li><button type="button" class="btn" ng-disabled="curPage_sub == 0" ng-click="curPage_sub=curPage_sub-1">PREV</button></li>
								<li><span>{{curPage_sub + 1}} of {{ numberOfPages_sub() }}</span></li>
								<li><button type="button" class="btn" ng-disabled="curPage_sub==numberOfPages_sub()-1" ng-click="curPage_sub = curPage_sub+1">NEXT</button></li>
								<li>
									<select ng-model="pageSize_sub" ng-change="pageSize_sub" class="btn btn-default">
										<option value="2">2</option>
										<option value="5">5</option>
										<option value="10">10</option>
										<option value="15">15</option>
										<option value="20">20</option>
									</select>
								</li>
							</ul>
						</div>
						</div> 
						</td>
					</tr>
					</table>
					</td>
					</tr>
				</tbody>
				</table>
            </div>
          </div> 
    
      <div class="pagination-div" ng-show="results.length" id="divPaginate">
            <ul>
                <li><button type="button" class="btn" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">PREV</button></li>
                <li><span>{{curPage + 1}} of {{ numberOfPages() }}</span></li>
                <li><button type="button" class="btn" ng-disabled="curPage==numberOfPages()-1" ng-click="curPage = curPage+1">NEXT</button></li>
                <li>
                    <select ng-model="pageSize" ng-change="pageSize" class="btn btn-default">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </li>
            </ul>
        </div>
    
</div>