<div ng-show="listAll"> 
        <div class="col-md-12">
            <h4 class="fl">Promo Mapping List</h4>
            <h5 class="fr"><a href="#/promocode" class="btn btn-primary  btn-sm">ADD NEW</a></h5>
        </div>
           
      <div class="clear"></div>  
      <div ng-show="loading" class="loading"><img src="../images/loading.gif">LOADING...</div>
      <div class="clear"></div>
      <div class="table-responsive">    
          <table class="table table-striped table-hover" ng-table="tableParams">
                <!--<tr>
                    <th>Entry Id</th>
                    <th>Promo Code</th>
                    <th>Campaign Id</th>
                    <th>Campaign Desc</th>
                    <th>Page Id</th>
                    <th>Page Desc</th>
                    <th>Confirm Ref. Id</th>
                    <th>Short Notes</th>
                    <th>Action</th>
                </tr>-->
                <tr ng-repeat="result in results">                    
                    <td data-title="'Entry Id'" style="padding:10px;">{{result.EntryId}}</td>
                    <td data-title="'Promo Code'" style="padding:10px;">{{result.PromoCode}}</td>
                    <td data-title="'Campaign Id'" style="padding:10px;">{{result.CampaignId}}</td>
                    <td data-title="'Campaign Desc'" style="padding:10px;">{{result.CampaingDesc | limitTo: 20}}</td>
                    <td data-title="'Page Id'" style="padding:10px;">{{result.PageId}}</td>
                    <td data-title="'Page Desc'" style="padding:10px;">{{result.PageDesc | limitTo: 20}}</td>
                    <td data-title="'Confirm Ref. Id'" style="padding:10px;">{{result.ConfirmRefId}}</td>
                    <td data-title="'Short Notes'" style="padding:10px;">{{result.ShortNotes | limitTo: 20}}</td>  
                    <td data-title="'Action'"><a href="" ng-click="editpromodata(result.EntryId)" class="btn btn-default">Edit</a></td>
                </tr>   
            </table>
       </div>
    </div>
</div>



<div ng-show="editAll">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="row">
        <h4 class="fl">Edit Details</h4>
        <span class="fr"><a href="#/promolist" ng-click="refreshdata()"  class="btn btn-primary  btn-sm">Back</a></span>
        
        <div class="clear"></div>
        <div ng-show="editloading" class="editloading"><img src="../images/loading.gif">LOADING...</div>
        <form name="promocodeForm" method="post" novalidate>
            <div class="table-responsive">  
            <table class="table insertRecords">       
                <tr>
                    <td><b>Promo Code * :</b></td>
                    <td ng-class="{ 'has-error' : promocodeForm.promo_code.$invalid && !promocodeForm.promo_code.$pristine }">
                        <input type="text" name="promo_code" ng-model="promo_code" class="form-control" required/>
                        <p ng-show="promocodeForm.promo_code.$invalid && !promocodeForm.promo_code.$pristine" class="help-block">Promo Code is required.</p>
                    </td>
                </tr>
                <tr>
                    <td><b>Campaign Id * :</td>
                    <td ng-class="{ 'has-error' : promocodeForm.campaign_id.$invalid && !promocodeForm.campaign_id.$pristine }">

                        <select name="campaign_id" ng-model="campaign_id" 
                                ng-options="campaignid.CampaignId for campaignid in allcampaignids track by campaignid.CampaignId" 
                                ng-change="getCampaignDetails(campaign_id)" class="form-control" required>
                                <option value="">Select One</option>
                        </select>
                        
                        <!--<select name="campaign_id" ng-model="campaign_id" 
                                ng-change="getCampaignDetails(campaign_id)"
                                class="form-control" required>
                                <option ng-repeat="campaignid in allcampaignids" 
                                        ng-selected="{{campaignid.CampaignId==campaign_id}}" 
                                        value="{{campaignid.CampaignId}}">{{campaignid.CampaignId}}
                                </option>
                        </select>-->
                        <div id="campaign-desc-div">{{hdnCampaignDesc}}</div>
                        <p ng-show="promocodeForm.campaign_id.$invalid && !promocodeForm.campaign_id.$pristine" class="help-block">Campaign Id is required.</p>
                    </td>
                </tr> 
                <tr>
                    <td><b>Page Id * :</td>
                    <td ng-class="{ 'has-error' : promocodeForm.page_id.$invalid && !promocodeForm.page_id.$pristine }">
                       
                        <select name="page_id" id="page_id" ng-model="page_id" 
                                ng-options="pageid.PageId for pageid in pageids track by pageid.PageId" 
                                ng-change="getPageDetails(page_id)"
                                class="form-control" required>
                                <option value="">Select One</option>
                        </select>
                        
                        <!--<select name="page_id" ng-model="page_id" 
                                ng-change="getPageDetails(page_id)"
                                class="form-control" required>
                                <option ng-repeat="pageid in pageids" 
                                        ng-selected="{{pageid.PageId==page_id}}" 
                                        value="{{pageid.PageId}}">{{pageid.PageId}}
                                </option>
                        </select>-->
                        <div id="page-desc-div">{{hdnPageDesc}}</div>
                        <p ng-show="promocodeForm.page_id.$invalid && !promocodeForm.page_id.$pristine" class="help-block">Page Id is required.</p>
                    </td>
                </tr>
                <tr>
                    <td><b>Confirm Ref Id * :</td>
                    <td>
                                               
                        <select id="allref" ng-model="refid" 
                                ng-options="allref.EntryId for allref in allrefids track by allref.EntryId" 
                                ng-change="getRefDetails(refid)"
                                class="form-control" required>
                                <option value="">Select One</option>
                        </select>
                        
                        <!--<select name="refid" ng-model="refid" 
                                ng-change="getRefDetails(refid)"
                                class="form-control" required>
                                <option ng-repeat="allref in allrefids" 
                                        ng-selected="{{allref.EntryId==refid}}" 
                                        value="{{allref.EntryId}}">{{allref.EntryId}}
                                </option>ng-selected="{{allref.EntryId==refid}}"
                        </select>-->
                        <div id="ref-desc-div">{{hdnRefDesc}}</div>
                        <p ng-show="promocodeForm.refid.$invalid && !promocodeForm.refid.$pristine" class="help-block">Reference Id is required.</p>
                       
                    </td>
                </tr>
                <tr>
                    <td><b>Short Notes :</b></td>
                    <td><textarea ng-model="short_notes" rows="3" class="form-control" placeholder="Short Notes"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="hidden" ng-model="EntryId">
                        <input type="button" value="Update" ng-click="editPromoCode()" name="submit" class="btn btn-primary">
                    </td>
                </tr>
            </table>
            </div>
            
        </form>
        </div>
      </div>
    </div>

