 <div class="col-md-12 bodyContentArea">
     <h5 class="fr"><a class="btn btn-primary  btn-sm" ng-click="addCustomerData()">Add</a></h5>
     <div class="input-group" style="width:20%; padding-bottom:1px;float:left;">
        <input type="text" ng-model="search" class="form-control" placeholder="Search" style="width:270px;">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>   
     </div>
    <table>
    <table class="table table-hover table-condensed table-striped">
        <thead class="levelOne">
            <tr>
                <th ng-click="sort('persona')">Persona
                    <span class="glyphicon sort-icon" ng-show="sortKey=='persona'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('emailno')">Email No
                    <span class="glyphicon sort-icon" ng-show="sortKey=='emailno'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('blogId')">Post
                    <span class="glyphicon sort-icon" ng-show="sortKey=='blogId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('postTitle')">Subject Line
                    <span class="glyphicon sort-icon" ng-show="sortKey=='postTitle'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('displaySequence')">Display Sequence
                    <span class="glyphicon sort-icon" ng-show="sortKey=='displaySequence'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('status')">Status
                    <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th>&nbsp</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="result in results|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" ng-class="set_color(result.displaySequence)" ng-if="results.length>0">
                    <td>{{result.persona}}</td>
                    <td>{{result.emailno}}</td>
                    <td>{{result.blogId}}</td>
                    <td>{{result.postTitle}}</td>
                    <td>{{result.displaySequence}} </td>
                    <td>{{result.status}}</td>
                    <td>
                        <span class="btn btn-primary offerEditBtn" ng-click="viewCustomerData(result)">Edit</span>
                    </td>
            </tr>
            <tr ng-if="results.length==0">
                <td colspan="7">No records found</td>
            </tr>
        </tbody>
    </table>
    </table>
    <dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" >
    </dir-pagination-controls>
</div>


<!--Waiting modal-->
<modal title="" visible="showloadingmodal" rel="modal-sm loadingModal">
    <div class="row">
        <div class="col-md-12 text-center">
         <p id="loadingcontent"><img src="/images/ajax-loader.gif" style="top:50%;"/></p>
        </div>
    </div>    
</modal>
<!--Waiting modal end-->

<!--Edit modal-->
<modal title="Sales Force Management" visible="showCustomerModal" rel="emailrel">
    <div class="row">
        <div class="col-md-12 campaigns">
            <div class="panel-body">
                <p ng-show="editloadingimage"><img src="/images/ajax-loader.gif" style="padding-left:45%;"/></p>
                <div class="listingUser" ng-if="editlist.length > 0">
                <table class="table table-hover table-condensed customTable">
                    <tbody>
                        <tr>
                            <th class="active">Persona</th>
                            <th class="active">Email No</th>
                            <th class="active">Post</th>
                            <th class="active">Display Sequence</th>
                        </tr>
                        <tr ng-repeat="list in editlist" ng-if="list.persona==editrecords.persona && list.emailno==editrecords.emailno">
                            <td class="active">{{list.persona}}</td>
                            <td class="active">{{list.emailno}}</td>
                            <td class="active">{{list.blogId}}</td>
                            <td class="active">{{list.displaySequence}}</td>
                        </tr>  
                    </tbody>
                </table>
                </div>  
                <div class="clear"></div>
                 <div style="padding-bottom:25px;">
                    <span style="float:left;">Persona : #{{editrecords.persona}}</span> 
                    <span style="float:right;">Email No : #{{editrecords.emailno}}</span>
                 </div>
                <div class="clear"></div>
                <div class="panel panel-default editUser">
                    <div class="panel-heading">
                        <h3 class="panel-title">EDIT</h3>
                    </div>
                    <div class="panel-body">                      
                        <div class="table-responsive">
                            <form name="editForm" class="myForm" novalidate>
                            <table class="table table-hover table-condensed editUserTable">
                            <tbody>                               
                                <tr>
                                    <td class="active">Post : </td>
                                    <td class="active">
                                        <select name="blogId" ng-model="editrecords.blogId" class="form-control" required ng-change="getBlogTitle(editrecords.blogId)">
                                        <option value="{{allPostId.blogId}}" ng-repeat="allPostId in allPostIds">
                                            {{allPostId.blogId}}</option>
                                        </select>
                                        <div ng-messages="editForm.blogId.$error" ng-if="editForm.blogId.$dirty">
                                          <div ng-message="required" class="err-msg">Post id is required</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="active">Title : </td>
                                    <td class="active">
                                        <input type="text" name="postTitle" class="form-control" ng-model="editrecords.postTitle" readonly/>   
                                    </td>
                                </tr>
                                <tr>
                                    <td class="active">Display Sequence : </td>
                                    <td class="active">
                                        <select name="displaySequence" ng-model="editrecords.displaySequence" class="form-control" required>
                                            <option value="{{display}}" ng-repeat="display in displaySeqArr">{{display}}</option>
                                        </select>
                                        <div ng-messages="editForm.displaySequence.$error" ng-if="editForm.displaySequence.$dirty">
                                          <div ng-message="required" class="err-msg">Display sequence is required</div>
                                        </div>
                                    </td>
                                </tr>       
                                <tr>
                                    <td class="active">Status:</td>
                                    <td class="active">
                                         <select class="form-control" ng-model="editrecords.status" name="status" required>
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select>
                                        <div ng-messages="editForm.status.$error" ng-if="editForm.status.$dirty">
                                          <div ng-message="required" class="err-msg">Status is required</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                            <input type="submit" class="btn btn-primary btn-sm" value="Submit" ng-click="updateRecords(editrecords.persona,editrecords.emailno)" />
                            <p class="displaymsg">{{responsemsg}}</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</modal>
<!--Edit modal end-->

<!--Add modal-->
<modal title="Sales Force Management" visible="showAddModal" rel="emailrel">
    <div class="row">
        <div class="col-md-12 campaigns">
            <div class="panel-body">
                <div class="listingUser" ng-show="listingdiv">
                    <table class="table table-hover table-condensed customTable">
                    <tbody>
                        <tr>
                            <th class="active">Persona</th>
                            <th class="active">Email No</th>
                            <th class="active">Post</th>
                            <th class="active">Display Sequence</th>
                        </tr>
                        <tr ng-repeat="list in addlist" ng-if="addlist.length > 0">
                            <td class="active">{{list.persona}}</td>
                            <td class="active">{{list.emailno}}</td>
                            <td class="active">{{list.blogId}}</td>
                            <td class="active">{{list.displaySequence}}</td>
                        </tr> 
                        <tr ng-if="addlist.length == 0">
                            <td colspan="4">No records found</td>
                        </tr>
                    </tbody>
                </table>
                </div>  
                <div class="clear"></div>
                <div class="panel panel-default editUser">
                    <div class="panel-heading">
                        <h3 class="panel-title">ADD</h3>
                    </div>
                    <div class="panel-body">                      
                        <div class="table-responsive">
                            <form name="addForm" class="myForm" required>
                            <table class="table table-hover table-condensed editUserTable">
                            <tbody>                               
                                <tr>
                                    <td class="active">Persona:</td>
                                    <td class="active">
                                      <select class="form-control" ng-model="addarrData.persona" name="persona" required 
                                     ng-change="showListDivByPersonaAndEmail(addarrData.persona,addarrData.emailno,addarrData.blogId)">
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                            <option value="300">300</option>
                                            <option value="400">400</option>
                                            <option value="500">500</option>
                                        </select>
                                        <div ng-messages="addForm.persona.$error" ng-if="addForm.persona.$dirty">
                                          <div ng-message="required" class="err-msg">Persona is required</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="active">Email No:</td>
                                    <td class="active">
                                        <select class="form-control" ng-model="addarrData.emailno" required 
                                        ng-change="showListDivByPersonaAndEmail(addarrData.persona,addarrData.emailno,addarrData.blogId)" >
                                            <option value="2">2</option>
                                            <option value="5">5</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                        <div ng-messages="addForm.emailno.$error" ng-if="addForm.emailno.$dirty">
                                          <div ng-message="required" class="err-msg">Email No is required</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="active">Post:</td>
                                    <td class="active">
                                        <select name="blogId" ng-model="addarrData.blogId" class="form-control" required 
                                        ng-change="showListDivByPersonaAndEmail(addarrData.persona,addarrData.emailno,addarrData.blogId)">
                                        <option value="{{allPostId.blogId}}" ng-repeat="allPostId in allPostIds">
                                            {{allPostId.blogId}}</option>
                                        </select>
                                        <div ng-messages="addForm.blogId.$error" ng-if="addForm.blogId.$dirty">
                                          <div ng-message="required" class="err-msg">Post is required</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="active">Title/Subject :</td>
                                    <td class="active">
                                        <input type="text" class="form-control" ng-model="addarrData.postTitle" readonly="true"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="active">Display Sequence</td>
                                    <td class="active">
                                        <select ng-model="addarrData.displaySequence" class="form-control" required>
                                            <option value="{{display}}" ng-repeat="display in displaySeqArr">{{display}}</option>
                                        </select>
                                        <div ng-messages="addForm.displaySequence.$error" ng-if="addForm.displaySequence.$dirty">
                                          <div ng-message="required" class="err-msg">Display sequence is required</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="active">Status:</td>
                                    <td class="active">
                                         <select class="form-control" ng-model="addarrData.status" required>
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select>
                                        <div ng-messages="addForm.status.$error" ng-if="addForm.status.$dirty">
                                          <div ng-message="required" class="err-msg">Status is required</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                            <input type="submit" class="btn btn-primary btn-sm" ng-hide="actionVal" value="Add" ng-click="addRecords()" />
                            <p class="displaymsg">{{responsemsg}}</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</modal>
<!--Add modal end-->

<style>
.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}
.customTable th, .customTable td{font-weight: normal !important;}
    .customTable,.editUserTable{border:1px solid #ddd; font-size: 12px;}
    .customTable th{background-color: #337AB7  !important; color:#fff; border-radius:0 !important}

th {
    cursor:pointer;
}

.redclass {
    background-color: #839E16 !important;
    color:#fff;
}
.listingUser{max-height: 141px; overflow-y: auto; margin-bottom: 10px;}
.editUser h3{font-size: 12px;}
.editUser .panel-heading{padding:7px 15px;}
.err-msg{color: red;} 
.displaymsg{padding-top: 10px; color: green; font-weight: bold;}
</style>