<div class="col-md-12 bodyContentArea">
    
<div class="input-group" style="width:20%; padding-bottom:1px;">
    <form ng-submit="getrecords()">
    <input type="text" ng-model="searchText" class="form-control" placeholder="Enter Campaign Desciption to Search">
    <!--<span class="input-group-addon">
      <i class="glyphicon glyphicon-search"></i>
    </span>-->
    </form>
</div>
    
  <!-- ========== Usage ========== -->
  <div ng-show="loading" class="loading"><img src="../images/loading.gif">LOADING...</div>
  <div ng-show="maindiv">
  <ad-table-lite table-name="offergrouplist"
                 enable-column-search="false"
                 column-definition="offerGroupTableColumnDefinition"
                 local-data-source="models.offergrouplist"
                 page-sizes="[2,5,10]"
                 page-loader="methods.pageLoader"
                 pagination-btn-group-classes="pagination pagination-sm"
                 table-classes="table table-hover table-condensed table-striped table-bordered offerGroup"
                 items-not-found-message="Records Not Found"
                 snug-sort-icons="true"
                 search-text="models.searchText"                
                 row-expand-template="src/tablelite/docs/innertable.html"
                 >
   </ad-table-lite>
   </div>
  <!--row-expand-callback="rowExpanded"-->
  <!-- ========== Usage ============ -->
    
    <script type="text/ng-template" id="src/tablelite/docs/innertable.html">
        <div>
          <ul class="nav nav-tabs tabTitle" role="tablist">
                <li role="presentation" class="active"><a showtab="" href="#offers" role="tab" data-toggle="tab">Offers</a></li>
                <li role="presentation"><a showtab="" href="#campaigns" role="tab" data-toggle="tab">Campaigns</a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="offers">
              <table class="table table-hover table-condensed">
                <thead class="levelTwo">
                    <tr>
                        <th>#</th>
                        <th>Offer Id
                            <a href="#offergroup" ng-click="orderByField='offerId'; reverseSort = !reverseSort">
                              <i ng-hide="orderByField == 'offerId'" class="glyphicon glyphicon-resize-vertical"></i>
                              <span ng-show="orderByField == 'offerId'">
                               <i ng-class="iconClasses.sortAscending" ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up ng-hide"></i>
                               <i ng-class="iconClasses.sortDescending" ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i>
                              </span>
                            </a>
                        </th>
                        <th>Description Code
                            <a href="#offergroup" ng-click="orderByField='offerDescCode'; reverseSort = !reverseSort">
                              <i ng-hide="orderByField == 'offerDescCode'" class="glyphicon glyphicon-resize-vertical"></i>
                              <span ng-show="orderByField == 'offerDescCode'">
                               <i ng-class="iconClasses.sortAscending" ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up ng-hide"></i>
                               <i ng-class="iconClasses.sortDescending" ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i>
                              </span>
                            </a>
                        </th>
                        <th>Display Order
                        <a href="#offergroup" ng-click="orderByField='displayOrder'; reverseSort = !reverseSort">
                              <i ng-hide="orderByField == 'displayOrder'" class="glyphicon glyphicon-resize-vertical"></i>
                              <span ng-show="orderByField == 'displayOrder'">
                               <i ng-class="iconClasses.sortAscending" ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up ng-hide"></i>
                               <i ng-class="iconClasses.sortDescending" ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></i>
                              </span>
                            </a>
                        </th>
                        <th>Is Selected</th>
                        <th>Is Bonus Bundled</th>
                        <th>Is In Cart</th>
                        <th>Is Base Offer</th>
                        <th class="smlTxtBxHead">Is Use</th>
                        <th class="smlTxtBxHead">Special Text</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="offerData in item.offers | orderBy:orderByField:reverseSort">
                        <td>{{$index+1}}</td>
                        <td>{{offerData.OfferId}}</td>
                        <td class="smlTxtBx">{{offerData.OfferDescCode}}</td>
                        <td class="smlTxtBx">
                            <span editable-number="offerData.DisplayOrder" e-name="DisplayOrder" e-form="rowform" e-step="any" e-required>
                            {{offerData.DisplayOrder || 'Enter number'}}
                            </span>
                        </td>
                        <td class="smlTxtBx">
                            <span editable-select="offerData.ItemSelected" e-name="ItemSelected" e-form="rowform" e-ng-options="s.value as s.text for s in itemstatus">
                                {{showStatus(offerData.ItemSelected,1)}}
                            </span>
                        </td>
                        <td class="smlTxtBx">
                            <span editable-select="offerData.IsBonusBundled" e-name="IsBonusBundled" e-form="rowform" e-ng-options="s.value as s.text for s in allstatus">
                                {{showStatus(offerData.IsBonusBundled,2)}}
                            </span>
                        </td>
                        <td class="smlTxtBx">
                            <span editable-select="offerData.DisplayInCart" e-name="DisplayInCart" e-form="rowform" e-ng-options="s.value as s.text for s in allstatus" e-required>
                                {{showStatus(offerData.DisplayInCart,2)}}
                            </span>
                        </td>
                        <td class="smlTxtBx">
                            <span editable-select="offerData.IsBaseOffer" e-name="IsBaseOffer" e-form="rowform" e-ng-options="s.value as s.text for s in allstatus" e-required>
                                 {{showStatus(offerData.IsBaseOffer,2)}}
                            </span>
                        </td>
                        <td class="smlTxtBx">
                            <span editable-select="offerData.InUse" e-name="InUse" e-form="rowform" e-ng-options="s.value as s.text for s in allstatus" e-required>
                                {{showStatus(offerData.InUse,2)}}
                            </span>
                        </td>
                        <td class="smlTxtBx">
                            <span editable-text="offerData.SpecialText" e-maxlength="30" e-name="SpecialText" e-form="rowform" e-required>
                                {{offerData.SpecialText}} 
                            </span>
                        </td>
                        <td>
                            <span class="btn btn-primary offerEditBtn" ng-click="editOfferData(offerData,'View')">View</span>
							<span class="btn btn-primary offerEditBtn" ng-click="editOfferData(offerData,'Edit')">Edit</span>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="campaigns">
              <table class="table table-hover table-condensed">
                <thead class="levelTwo">
                    <tr>
                        <th>#</th>
                        <th>Campaign Id</th>
                        <th>Description</th>
                        <th>Credit Rule</th>
                        <th>Short Notes</th>
                        <th>Project</th>
                        <th>Design</th>
                        <th>Action</th>
                    </tr>
                </thead>
                  <tbody data-ng-repeat="campaignData in item.campaigns | filter : searchText" data-ng-switch on="dayDataCollapse[$index]">
                    <tr class="clickableRow">
                        <td data-ng-click="selectTableRow($index, campaignData.CampaignId)" class="listSerial">
                            <i id="icon_{{campaignData.CampaignId}}" ng-class="iconClasses.expand" class="listSerialicon ng-scope glyphicon glyphicon-plus-sign"></i>
                        </td>
                        <td class="listOffergroupId">{{campaignData.CampaignId}}</td>
                        <td>{{campaignData.CampaignDesc}}</td>
                        <td>{{campaignData.CreditRule}}</td>
                        <td>{{campaignData.ShortNotes}}</td>
                        <td>{{campaignData.Project}}</td>
                        <td>
                            <span ng-if="campaignData.IsClubShopOffer=='Y'">Maxchoice</span>
                            <span ng-if="campaignData.IsClubShopOffer=='N'">Horizontal</span>
                        </td>
                        <td>
							<span class="btn btn-primary offerEditBtn" ng-click="editCampaignData(campaignData,'View')">View</span>
							<span class="btn btn-primary offerEditBtn" ng-if="campaignData.CampaignId == 12380" ng-click="editCampaignData(campaignData,'Edit')">Edit</span>
						</td>
                    </tr>
                    <tr data-ng-switch-when="true">
                        <td colspan="8">
                            <div>
                            <ul class="nav nav-tabs tabTitle" role="tablist">
                                <li role="presentation" class="active"><a showtab="" href="#pages" role="tab" data-toggle="tab">Pages</a></li>
                            </ul>
                            
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="offers">
                                  <table class="table table-hover table-condensed">
                                    <thead class="levelTwo">
                                        <tr>
                                            <th>#</th>
                                            <th>Page Id</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Short Notes</th>
                                            <th>Page Url</th>
											<th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        <tr data-ng-repeat="pageData in item.campaigns[$index].OfferPages">
                                            <td>{{$index+1}}</td>
                                            <td>{{pageData.PageId}}</td>
                                            <td>{{pageData.PageName}}</td>
                                            <td>{{pageData.PageDesc}}</td>
                                            <td>{{pageData.PageShortNotes}}</td>
                                            <td><a href="{{pageData.PageUrl}}" target="_blank">Click here</a></td>
											<td><span class="btn btn-primary offerEditBtn" ng-click="editPageData(pageData,'View')">View</span>
							<span class="btn btn-primary offerEditBtn" ng-click="editPageData(pageData,'Edit')">Edit</span></td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
         </div>
        </div>
    </script>
    
</div>

<!--modal-->
<modal title="Campaigns" visible="showModal">
    <div class="row">
    <div class="col-md-12">
    <form name="campaignEditform" role="form" ng-submit="updateCampaignData()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <label for="CampaignDesc">Description</label>
            <input type="text" class="form-control" placeholder="Enter Campaing Desc" ng-model="campaignDatas.CampaignDesc" ng-readonly="actionVal" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="CreditRule">Credit Rule</label>
            <select class="form-control" ng-model="campaignDatas.CreditRule" ng-disabled="actionVal">
                      <option value="">Credit Rule</option>
                      <option ng-repeat="credit in allCreditrules" value="{{credit.RuleId}}">
                          {{credit.RuleId}}
                      </option>
           </select>
      </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <label for="DefaultPromoCode">Default Promo Code</label>
            <input type="text" class="form-control" placeholder="Enter Default Promo Code" ng-model="campaignDatas.DefaultPromoCode" ng-readonly="actionVal" />
      </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="ShortNotes">Short Notes</label>
            <textarea class="form-control" ng-model="campaignDatas.ShortNotes" ng-readonly="actionVal"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <label for="EmailTemplate">Email Template</label>
            <input type="text" class="form-control" placeholder="Enter Email Template" ng-model="campaignDatas.EmailTemplate" ng-readonly="actionVal" />
      </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="opt_out">opt out</label>
            <select class="form-control" ng-model="campaignDatas.opt_out" ng-disabled="actionVal">
                <option value="N">No</option>
                <option value="Y">Yes</option>
            </select>
      </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <label for="conf_pg_tac">Conf Page Tac</label>
            <input type="text" class="form-control" ng-model="campaignDatas.conf_pg_tac" ng-readonly="actionVal" />
      </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="billPlan">Bill Plan</label>
            <select class="form-control" ng-model="campaignDatas.billPlan" ng-disabled="actionVal">
                <option value="N">No</option>
                <option value="Y">Yes</option>
            </select>
      </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="special_text">Special Text</label>
                <input type="text" class="form-control" ng-model="campaignDatas.special_text" ng-readonly="actionVal" />
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="title">title</label>
            <input type="text" class="form-control" ng-model="campaignDatas.title" ng-readonly="actionVal" />
      </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Project">Project</label>
                <select class="form-control" ng-model="campaignDatas.Project" ng-disabled="actionVal">
                      <option value="">Project</option>
                      <option ng-repeat="project in allProjects" value="{{project.ProjectCode}}" ng-if="allProjects.length > 0">
                          {{project.ProjectName}}
                      </option>
                </select>
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="IsClubShopOffer">Design</label>
            <select class="form-control" ng-model="campaignDatas.IsClubShopOffer" ng-disabled="actionVal">
                <option value="N">Horizontal</option>
                <option value="Y">Maxchoice</option>
            </select>
      </div>      
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
             <div class="form-group">
            <label for="isActice">Is Actice</label>
            <select class="form-control" ng-model="campaignDatas.isActice" ng-disabled="actionVal">
                <option value="N">No</option>
                <option value="Y">Yes</option>
            </select>
      </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="ccOnBMConfirm">CcOnBMConfirm</label>
            <select class="form-control" ng-model="campaignDatas.ccOnBMConfirm" ng-disabled="actionVal">
                <option value="N">No</option>
                <option value="Y">Yes</option>
            </select>
      </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <label for="applyEnhancedCTI">applyEnhancedCTI</label>
            <select class="form-control" ng-model="campaignDatas.applyEnhancedCTI" ng-disabled="actionVal">
                <option value="N">No</option>
                <option value="Y">Yes</option>
            </select>
      </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="applyDupeCheck">applyDupeCheck</label>
            <select class="form-control" ng-model="campaignDatas.applyDupeCheck" ng-disabled="actionVal">
                <option value="N">No</option>
                <option value="Y">Yes</option>
            </select>
      </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <label for="maxItemsAllowedInCart">Max Items Allowed In Cart</label>
            <input type="text" class="form-control" ng-model="campaignDatas.maxItemsAllowedInCart" ng-readonly="actionVal" />
      </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="campaign_type">Campaign Type</label>
            <input type="text" class="form-control" ng-model="campaignDatas.campaign_type" ng-readonly="actionVal" />
      </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <label for="details">Details</label>
            <input type="text" class="form-control" ng-model="campaignDatas.details" ng-readonly="actionVal" />
      </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="shippingChargeId">Shipping Charge Id</label>
            <input type="text" class="form-control" ng-model="campaignDatas.shippingChargeId" ng-readonly="actionVal" />
      </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <label for="useLitlePaymentService">Use Litle Payment Service</label>
            <select class="form-control" ng-model="campaignDatas.useLitlePaymentService" ng-disabled="actionVal">
                <option value="N">No</option>
                <option value="Y">Yes</option>
            </select>
      </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="numberOfShipments">Number Of Shipments</label>
            <input type="text" class="form-control" ng-model="campaignDatas.numberOfShipments" ng-readonly="actionVal" />
      </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <label for="autoRenewal">Auto Renewal</label>
            <input type="text" class="form-control" ng-model="campaignDatas.autoRenewal" ng-readonly="actionVal" />
      </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="baseOfrClub">Base Offer Club</label>
            <input type="text" class="form-control" ng-model="campaignDatas.baseOfrClub" ng-readonly="actionVal" />
      </div>
        </div>
    </div>
    <div class="row">
	<div class="col-md-6">
        <div class="form-group">
            <label for="baseReleaseDate">baseReleaseDate</label>
            <input type="text" class="form-control" ng-model="campaignDatas.baseReleaseDate" ng-readonly="actionVal" />
      </div>
	</div>
	<div class="col-md-6">
	   <div class="form-group">
            <label for="upsellId">Upsell Id</label>
            <input type="text" class="form-control" ng-model="campaignDatas.upsellId" ng-readonly="actionVal" />
      </div>
	</div>
   </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <label for="freeBooksCount">Free Books Count</label>
            <input type="text" class="form-control" ng-model="campaignDatas.freeBooksCount" ng-readonly="actionVal" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <label for="splBookDispPropId">splBookDispPropId</label>
            <input type="text" class="form-control" ng-model="campaignDatas.splBookDispPropId" ng-readonly="actionVal" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="IntroCount">Intro Count</label>
                <input type="text" class="form-control" ng-model="campaignDatas.IntroCount" ng-readonly="actionVal" />
          </div> 
        </div>
    </div>
        
    <div class="col-md-12">
        <div class="form-group">
            <label for="TAC">TAC</label>
            <input type="text" class="form-control" ng-model="campaignDatas.TAC" data-ck-editor ng-readonly="actionVal" />
        </div>
    </div>
    <div class="col-md-12">
        <input type="hidden" ng-model="campaignDatas.CampaignId" /> 
        <input type="hidden" ng-model="campaignDatas.OfferGroupId" /> 
        <input type="submit" class="btn btn-primary btn-sm" ng-hide="actionVal" value="Save" />
        <button type="button" class="btn btn-default btn-sm" ng-hide="actionVal" data-dismiss="modal">Cancel</button>
    </div>
    
    </form>
    <p class="msg" style="color:green"></p>
    </div>
    </div>
</modal>
<!--modal-->
<modal title="Offers" visible="showOfferModal">
    <form name="campaignEditform" role="form" ng-submit="updateOfferData()">
      <div class="form-group">
            <label for="OfferDescCode">Description Code</label>
            <input type="text" class="form-control" ng-model="OfferDescCode" ng-readonly="actionVal" />
      </div>
      <div class="form-group">
            <label for="DisplayOrder">Display Order</label>
            <select class="form-control" ng-model="DisplayOrder" ng-readonly="actionVal">
                <option value="1">1</option> 
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
      </div>
      <div class="form-group">
            <label for="ItemSelected">Is Selected</label>
            <select class="form-control" ng-model="ItemSelected" ng-readonly="actionVal">
                <option value="Y">Yes</option> 
                <option value="N">No</option>
            </select>
      </div>
      <div class="form-group">
            <label for="Project">Is Bonus Bundled</label>
            <input type="text" class="form-control" ng-model="IsBonusBundled" ng-readonly="actionVal"/>
      </div>
      <div class="form-group">
            <label for="DisplayInCart">Is In Cart</label>
            <select class="form-control" ng-model="DisplayInCart" ng-readonly="actionVal">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
      </div>
        <div class="form-group">
            <label for="IsBaseOffer">Is Base Offer</label>
            <select class="form-control" ng-model="IsBaseOffer" ng-readonly="actionVal">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
      </div>
      <div class="form-group">
            <label for="InUse">Is Use</label>
            <select class="form-control" ng-model="InUse" ng-readonly="actionVal">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
      </div>
      <div class="form-group">
            <label for="SpecialText">Special Text</label>
            <input type="text" class="form-control" ng-model="SpecialText" data-ck-editor ng-readonly="actionVal"/>
      </div>
      <input type="hidden" ng-model="OfferId" ng-readonly="actionVal" />    
      <input type="submit" class="btn btn-primary btn-sm" ng-hide="actionVal" value="Save" />
      <button type="button" class="btn btn-default btn-sm" ng-hide="actionVal" data-dismiss="modal">Cancel</button>
    </form>
</modal>

<modal title="Pages" visible="showPageModal">
    <form name="pageEditform" role="form" ng-submit="updatePageData()">
      <div class="form-group">
            <label for="PageName">Page Name</label>
            <input type="text" class="form-control" ng-model="pageData.PageName" ng-readonly="actionVal" />
      </div>
      <div class="form-group">
            <label for="PageDesc">Page Description</label>
            <input type="text" class="form-control" ng-model="pageData.PageDesc" ng-readonly="actionVal" />
      </div>
      <div class="form-group">
            <label for="PayOnForm">Pay On Form</label>
            <select class="form-control" ng-model="pageData.PayOnForm" ng-readonly="actionVal">
                <option value="Y">Yes</option> 
                <option value="N">No</option>
            </select>
      </div>
      <div class="form-group">
            <label for="PageShortNotes">Page Short Notes</label>
            <input type="text" class="form-control" ng-model="pageData.PageShortNotes" ng-readonly="actionVal"/>
      </div>
      <div class="form-group">
            <label for="PageUrl">PageUrl</label>
            <input type="text" class="form-control" ng-model="pageData.PageUrl" ng-readonly="actionVal"/>
      </div>
      <input type="hidden" ng-model="pageData.CampaignId" ng-readonly="actionVal" /> 
      <input type="hidden" ng-model="pageData.PageId" ng-readonly="actionVal" /> 
      <input type="submit" class="btn btn-primary btn-sm" ng-hide="actionVal" value="Save" />
      <button type="button" class="btn btn-default btn-sm" ng-hide="actionVal" data-dismiss="modal">Cancel</button>
    </form>
    <p class="msg" style="color:green"></p>
</modal>


<style>
.offerGroup thead tr:first-child {
    background-color: #3E7AAE;
    color: #fff;
    border:none;
}
.offerGroup thead tr:last-child {
    background-color: #f9f9f9;
    color: #fff;
    border:none;
}
.offerGroup tr:first-child td:first-child,
.offerGroup tr:first-child th:first-child{border-radius: 6px 0 0 0;}
.offerGroup tr:first-child td:last-child,
.offerGroup tr:first-child th:last-child{border-radius: 0 6px 0 0;}
 .offerGroup tbody > tr {
    border-bottom: 1px solid #ddd;
 }
</style>