 <div class="col-md-12 bodyContentArea">
 
<div>
<ad-table-lite table-name="usertable"
                 enable-column-search="true"
                 column-definition="usersTableColumnDefinition"
                 local-data-source="models.userlist"
                 page-sizes="[5,10,20]"
                 pagination-btn-group-classes="pagination pagination-sm"
                 table-classes="table table-hover table-condensed table-striped table-bordered offerGroup"
                 items-not-found-message="Records Not Found"
                 snug-sort-icons="true"
                 search-text="models.searchText"
                >
</ad-table-lite>
</div>
</div>

<!--modal 1-->
<modal title="" visible="showloadingmodal" rel="modal-sm loadingModal">
    <div class="row">
        <div class="col-md-12 text-center">
         <p id="loadingcontent"><img src="/images/ajax-loader.gif" style="top:50%;"/></p>
        </div>
    </div>    
</modal>
<!--modal end 1-->

<style>
.offerGroup thead tr:first-child {
    background-color: #3E7AAE;
    color: #fff;
    border:none;
}
.offerGroup thead tr:last-child {
    background-color: #f9f9f9;
    color: #fff;
    border:none;
}
.offerGroup tr:first-child td:first-child,
.offerGroup tr:first-child th:first-child{border-radius: 6px 0 0 0;}
.offerGroup tr:first-child td:last-child,
.offerGroup tr:first-child th:last-child{border-radius: 0 6px 0 0;}
.offerGroup tbody > tr {
    border-bottom: 1px solid #ddd;
 }
</style>